@media screen and (min-width: 768px){
    .container{
        max-width: 760px;
        font-size: 1.3rem;
    }
    h1{
        text-align: left;
    }
    .none{
        display: inline-block;
    }
    .to-do{
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
        gap: 30px;
    }
    .icons{
        padding: 0;
        flex-basis: calc(100% / 3 - 60px / 3);
    }
    .icons:first-child{
        padding: 0;
    }
    .brands{
        padding: 10px 40px;
        border-radius: 35%;
    }
    #banner{
        display: inline-block;
        width: 705px;
        margin-bottom: 30px;
    }
    .cube{
        margin-bottom: 30px
    }
    #tiramisù{
        padding: 0;
        float: left;
        margin-right: 10px;
        position: static;
    }
    .list-footer{
        display: inline-block;
        padding: 15px 133px;
    }
    a:first-child{
        padding: 0;
    }
    .list-footer > *{
        padding-left: 15px;
    }
}
@media screen and (min-width: 992px){
    .container{
        max-width: 900px;
        font-size: medium;
    }
    h1{
        font-size: 4rem;
    }
    h4{
        font-size: 1.3rem;
    }
    .row{
        margin-bottom: 0;
    }
    .col:first-child{
        font-size: 1.8rem;
    }
    .row-video{
        display: flex; 
        padding-top: 25px;       
    }
    .video{
        padding-bottom: 35%;
    }
    .col-video:first-child{
        flex-basis: 69%;        
    }
    .col-video:last-child{
        margin-top: 0;
        flex-basis: 31%;
        padding: 20px 15px 30px 20px;
    }
    .to-do{
        display: inline-block;
    }
    .to-do > *{
        margin-bottom: 5px;
    }
    .style-brands{
        padding: 40px 0;
    }
    .brands{
        padding: 10px 20px;
        border-radius: 45%;
    }
    .none-brands{
        display: inline-block;
    }
    #banner{
        width: 840px;
    }
    .bg-purple{
        display: flex;
        align-items: center;
    }
    .asd{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .list-footer{
        flex-basis: 50%;
        flex-basis: auto;
        padding: 15px 7px;
    }
    .list-footer > *{
        padding-left: 10px;
    }
}